from documentation_mkdocs_partial.docs_package_plugin import DocsPackagePlugin

class Plugin(DocsPackagePlugin):
    def __init__(self, root={{root}},edit_url_template={{edit_url_template}}):
        super().__init__(root)